<!doctype html>
<html>
<head>
 <title>Welcome to Flask app</title>
 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
<div>
<p>Please enter your name: - </p>
<form class="pure-form" method="POST" action="/">
Name: <br>
<input type="text" name="username"><br>
<button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
</form>
</div>
{{name}}
</body>
</html>